@import url(fonts.css);
@import url(reset.css);

body{
	margin: 0;
}
a{
	text-decoration: none;
}

h1{
	font-weight: 400;
	font-size: 48pt;
	margin: 0 auto 25px;
}

html{
	font-family: Myriad, Arial, sans-serif;
}
p{
	font-size: 26pt;
	margin-bottom: 	1em;
}
.container{
	width: 980px;
	margin: 0 auto;
	padding-bottom: 100px;
}
.fluid{
	width: 100%;
	padding-top: 40px;
}
.green{
	background: -webkit-radial-gradient(circle at 50% 100%, #669966 0%, #336633 70%);
	background: -moz-radial-gradient(circle at 50% 100%, #669966 0%, #336633 70%);
	background: -ms-radial-gradient(circle at 50% 100%, #669966 0%, #336633 70%);
	background: -o-radial-gradient(circle at 50% 100%, #669966 0%, #336633 70%);
	background: radial-gradient(circle at 50% 100%, #669966 0%, #336633 70%);
}
.white{
	background-color: #ffffff;
}
.darkgreen{
	background-color: #2b342b;
}
.lightgreen{
	background-color: #e9ede9;
}
.logo{
	display: block;
	float: left;
}
.logo:hover > p{
	color: #f6d419;
}
.logo > img{
	float: left;
	margin-right: 10px;
	margin-top: 15px;
}
.logo > p {
	float:left;
	color: #ffffff;
	font-size: 36pt;
	font-weight: bold;
	margin: 0;
}
.menu{
	float: right;
	list-style: none;
}
.menu > li{
	display: inline-block;
	margin: 5px 15px 0;
}
.menu > li > a{
	color: #ffffff;
	display: block;
	padding: 5px;
	font-weight: 600;
	border: 2px solid transparent;

}

.menu a:hover{
	border: 2px solid #fff;
	color: #f6d419;
}
nav{
	height:60px;
}
.center{
	text-align: center;
	margin-top: 60px;
}
.text-white{
	color: #ffffff;
}
.promo{
	background-color: #e2e4e1;
	padding: 30px 0 40px;

}
.promo > h3{
	font-weight: 600;
	color: #7d7b7b;
	font-size: 33pt;
	margin: 0 auto 45px;
}
.promo > h3 > span {
	font-weight: 400;
	color: #afacac;
}
.promo > p > span {
	color: #b38e48;
	line-height: 2;
}
.promo > a{
	background-color: #71ae5a;
	color: #ffffff;
	padding: 10px 18px;
	border-radius: 10px;
}
.promo > a:hover{
	color: #f6d419;
}
.row{
	height: 300px;
}
.row div{
	float: left;
	width: 30%;
}
.row div:nth-of-type(2){
	margin: 0 5%;
}
.melon2{
	background-image: url(../img/melon2.png);
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
	width: 100%;
	height: 560px;
}
.melon2 > a{
	display: block;
	text-decoration: none;
	position: absolute;
	color: #fff;
	font-weight: 400;
	font-size: 22px;
}
.calories{
	left: 180px;
	top: 275px;
	border-bottom: 3px solid red;
}
.protein{
	left: 640px;
	top: 190px;
	border-bottom: 3px solid #d4fa7a;
	width: 125px;
	text-align: right;
}
.protein-line{
	width: 57px;
	border-bottom: 2px solid #d4fa7a;
	display: inline-block;
  transform: rotate(-41deg);
	position: absolute;
	top: 40px;
  left: -50px;
}
.protein-line::before{
	content: '';
	display: block;
	border-radius: 15px;
	width: 25px;
	height: 25px;
	background: repeating-radial-gradient(white, white 2px, transparent 2px, transparent 5px);
	position: absolute;
	top: -10px;
  left: -15px;
}

.water{
	left: 565px;
	top: 290px;
	border-bottom: 3px solid #8cdbf2;
	width: 180px;
	text-align: right;
}
.water::before{
	content: '';
	display: block;
	border-radius: 10px;
	width: 20px;
	height: 20px;
	background: repeating-radial-gradient(white, white 2px, transparent 2px, transparent 4px);
	position: absolute;
	top: 13px;
	left: -12px;
}
.calories-line{
	width: 62px;
	border-bottom: 2px solid red;
	display: inline-block;
  transform: rotate(-17deg);
	position: absolute;
	top: 13px;
  right: -60px;
}
.calories-line::after{
	content: '';
	display: block;
	border-radius: 15px;
	width: 25px;
	height: 25px;
	background: repeating-radial-gradient(white, white 2px, transparent 2px, transparent 5px);
	position: absolute;
	top: -10px;
  right: -15px;
}
.fat{
	left: 307px;
	top: 353px;
	border-bottom: 3px solid #fef45a;
	width: 180px;
	text-align: left;
}
.fat::after{
	content: '';
	display: block;
	border-radius: 10px;
	width: 20px;
	height: 20px;
	background: repeating-radial-gradient(white, white 2px, transparent 2px, transparent 4px);
	position: absolute;
	top: 13px;
	right: -12px;
}
.footer-menu{
	list-style: none;
}
.footer-menu > li{
	display: inline-block;
	margin: 5px 15px 0;
}
.footer-menu > li > a{
	color: #747373;
	display: block;
	padding: 5px;
	font-weight: 600;
	border: 2px solid transparent;

}

.footer-menu a:hover{
	color: #f6d419;
}
.copy{
	font-size: 18px;
	color: #958f8f;
	padding-left: 3px;
}
.link li:first-of-type{
	margin-left: 0;
}
.totop{
	float: right;
	display: block;
	width: 50px;
	height: 50px;
	background-color: #71ae5a;
	border-radius: 50%;
	padding: 1px;
}
.totop span{
	display: block;
	width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 15px solid transparent;
	border-bottom: 15px solid #e9ede9;
	margin: auto;
}
.totop:hover span{
		border-bottom: 15px solid #f6d419;
}
